*{
    padding: 0px;
    margin: 0px;
}

.homebg{    
    background-image: url(../Images/Background/pexels-abhinav-goswami-291528.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.homebg h1{
    padding-bottom: 10px;
    padding-left: 2%;
    color:darkred;
    font-size: 43px;
} 

.cakesbg{
    background-image: url(../Images/20-layer-chocolate-peanut-butter-cake-for-6-8.c3eb4a50389817d439d01516eb5bc4b3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.cakesbg h1{
    padding-bottom: 10px;
    padding-left: 1%;
    color:rgb(255, 245, 230);
    font-size: 43px;

}

.cakesbg nav{
    color:rgb(255, 245, 230);
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    float: right;
    right: 5%;
    bottom: 175px;
    word-spacing: 20px;
}

.histbg{
    background-image: url(../Images/Black-Forest-Cake-10-1365x2048.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    
}

.histbg h1{
    padding-bottom: 10px;
    padding-left: 8%;
    color:darkred;
    font-size: 43px;

}

.bakebg{
    /* background-image: url("../Images/Screen Shot 2022-07-20 at 2.24.52 PM.png"); */
    background-image: url(../Images/Oasis-Tiramisu-Cheesecake-Product-1.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

.video{
    width: 350px;
}

.bakebg h1{
    padding-bottom: 10px;
    padding-left: 2%;
    /* color:#76c0dd; */
    color:white;
    font-size: 43px;

}

.cupbg{
    background-image: url("../Images/Screen Shot 2022-07-20 at 2.15.19 PM.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%
}

.cupbg h1{
    padding-bottom: 10px;
    padding-left: 1%;
    color:rgb(255, 245, 230);
    font-size: 43px;
} 


.transbkgrnd{
    background-color: wheat;
    opacity: .75;
    margin-left: 5%;
    margin-right: 60%;
}

.tranbkgrnd{
    background-color: wheat;
    opacity: .75;
    margin-left: 5%;
    margin-right: 39%;
}

.tranbkgrnd table{
    background-color: wheat;
    margin-left: 5%;
    margin-right: 62%;
    background-image: url(../Images/Logo/Screen_Shot_2022-07-11_at_1.30.58_PM-removebg-preview.png);
    background-repeat: repeat;
    background-size: 170px;
    background-blend-mode: color-dodge;
}

.tranbkgrnd td{
    border: 3px;
    border-color: black;
    border-style: solid;
    opacity: 100%;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px; 
}

th{
padding-left: 125px;
padding-right: 125px;
}

/* .transbkgrnd img{

} */

.strt{
    border: 3px;
    border-color: black;
    border-style: solid;
}


.homebg p{
    /* color: #B21F11; */
    text-align: center;
    line-height: 75px;
    letter-spacing: 1px;
    font-size: 35px;
    background-color: bisque;
    background-image: url(../Images/Logo/Screen_Shot_2022-07-11_at_1.30.58_PM-removebg-preview.png);
    background-repeat: repeat;
    background-size: 170px;
    padding:50px;
    background-blend-mode: color-dodge;
    color: darkred;
    border: 8px solid;
    border-image: linear-gradient(127deg, darkred, white) 1;
}

.bakebg p{
    /* color: #B21F11; */
    text-align: center;
    line-height: 75px;
    letter-spacing: 1px;
    font-size: 35px;
    background-color: bisque;
    background-image: url(../Images/Logo/Screen_Shot_2022-07-11_at_1.30.58_PM-removebg-preview.png);
    background-repeat: repeat;
    background-size: 170px;
    padding:50px;
    background-blend-mode: color-dodge;
    color: rgb(170, 97, 18);
    border: 8px solid;
    border-image: linear-gradient(127deg, rgb(170, 97, 18), white) 1;
}

.cakesbg p{
    /* color: #B21F11; */
    text-align: center;
    line-height: 75px;
    letter-spacing: 1px;
    font-size: 35px;
    background-color: bisque;
    background-image: url(../Images/Logo/Screen_Shot_2022-07-11_at_1.30.58_PM-removebg-preview.png);
    background-repeat: repeat;
    background-size: 170px;
    padding:50px;
    background-blend-mode: color-dodge;
    color: #593f2f;
    border: 8px solid;
    border-image: linear-gradient(127deg, #593f2f, bisque) 1;
}

.cupbg p{
    /* color: #B21F11; */
    text-align: center;
    line-height: 75px;
    letter-spacing: 1px;
    font-size: 35px;
    background-color: bisque;
    background-image: url(../Images/Logo/Screen_Shot_2022-07-11_at_1.30.58_PM-removebg-preview.png);
    background-repeat: repeat;
    background-size: 170px;
    padding:50px;
    background-blend-mode: color-dodge;
    color: #593f2f;
    border: 8px solid;
    border-image: linear-gradient(127deg, #593f2f, bisque) 1;
}

.histbg p{
    /* color: #B21F11; */
    text-align: center;
    line-height: 75px;
    letter-spacing: 1px;
    font-size: 35px;
    background-color: bisque;
    background-image: url(../Images/Logo/Screen_Shot_2022-07-11_at_1.30.58_PM-removebg-preview.png);
    background-repeat: repeat;
    background-size: 170px;
    padding:50px;
    background-blend-mode: color-dodge;
    color: darkred;
    border: 8px solid;
    border-image: linear-gradient(127deg, darkred, white) 1;
}
.logo{
    position:relative;
    left: 16%;
    width: 13%;
    margin-top: 30px;
    
}

.logo2{
    position:relative;
    left: 14%;
    width: 16%;
    margin-top: 28px;
    
}

nav{
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: white;
    float: right;
    right: 5%;
    bottom: 175px;
    word-spacing: 20px;
}

nav a{
    color: white;
}

.cakes{
    width: 350px;
}


footer{
    font-size: xx-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
    color: #B21F11;
    Margin-right: 20px;
    padding-bottom: 10px;
    float: right;
}

form{
    color:darkred;
    font-size: 25px;
    margin-left: 10px;
}